.floating-navbar{
    position: fixed;
    bottom: 1.5rem;
    left: 2rem;
    right: 2rem;
    height: 4.75rem;

    z-index: 1000;
    background-color: var(--dark-low);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    transition: all .3s;

    border: none;
    border-radius: var(--round-corner);

    font-size: 0.563rem;
    padding: 1.2rem 2rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link-icon {
    height: 1.5rem;
}

.link-container .active-link {
    color: var(--logo-accent);
}