@import url("./figtree.css");
@import url("./clash-display.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: unset;
    }
    body {
        font-family: "figtree", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .clash-display {
        font-family: "clash-display", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .figtree-semibold {
        font-family: "figtree-semibold", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .figtree-bold {
        font-family: "figtree-bold", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .figtree-medium {
        font-family: "figtree-medium", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .figtree-light {
        font-family: "figtree-light", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 100 0% 10%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --primary: 100 0% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 100 0% 10%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 100 0% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --ring: 0 0% 3.9%;
        --chart-1: 0 0% 9%;
        --chart-2: 0 0% 96.1%;
        --chart-3: 0 0% 96.1%;
        --chart-4: 0 0% 99.1%;
        --chart-5: 0 3% 9%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --ring: 0 0% 83.1%;
        --chart-1: 0 0% 98%;
        --chart-2: 0 0% 14.9%;
        --chart-3: 0 0% 14.9%;
        --chart-4: 0 0% 17.9%;
        --chart-5: 0 3% 98%;
    }
}

@layer components {
    :root .dark input:-webkit-autofill,
    :root .dark input:-webkit-autofill:hover,
    :root .dark input:-webkit-autofill:focus,
    :root .dark input:-webkit-autofill:active {
        -webkit-text-fill-color: white !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    :root input:-webkit-autofill,
    :root input:-webkit-autofill:hover,
    :root input:-webkit-autofill:focus,
    :root input:-webkit-autofill:active {
        -webkit-text-fill-color: black !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    textarea:focus-visible,
    input:focus-visible {
        @apply !border-foreground;
    }
}
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    textarea:focus,
    input:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideIn {
    animation: slideIn 0.3s ease-out forwards;
}
